@use '@/assets/styles/sizes';

.search-container {
  margin-bottom: 20px;
}

.search-bar {
  --search-h: 48px;
  width: 100%;
  background-color: var(--input-bg);
  border: 0px solid transparent;
  border-radius: 16px;
  height: var(--search-h);
}

@media (min-width: sizes.$tablet) {
  .search-bar {
    --search-h: 64px;
  }
  .search-container {
    margin-bottom: 40px;
  }
}
