$lavender: #a445ed;
$red: #ff5252;
$grey: #757575;

// Dark mode colors
$black: #050505;
$brilliant-black: #1f1f1f;
$saxon-gray: #2d2d2d;
$black-olive: #3a3a3a;

// Light mode colors
$glacier-white: #e9e9e9;
$snow-white: #f4f4f4;
$white: #ffff;

$shadow: rgba($black, 0.1);
