@use './sizes';

.container {
  width: var(--container-width);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--container-padding);

  @media (max-width: sizes.$mobile-xs) {
    overflow: hidden;
  }
}

.section-divider {
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--divider);
  border: none;
}

.section-divider--bottom {
  margin-bottom: 19px;
}
